* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main .banner{
    display: none;
}

/* header */
header{
    position: relative;
    margin-bottom: 20px;
    background-color: #84E296;
    width: 100%;
}

header a{
    color: black;
}

header .top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    position: relative;
    right: 0;
}

header .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}    

header .logo img{
    position: relative;
    width: 80px;
    height: 80px;
}

header .burger{
    width: 100%;
}
header .burger label{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    display: inline-block;
}

header .burger input{
    display: none;
}
header .burger nav{
    display: none;
    width: 100%;
}

header .burger input:checked ~ nav{
    display: flex;
}

header .burger nav ul{
    padding-bottom: 20px;

    width: 100%;
}

header .burger nav ul li{
    list-style-type: none;
    margin: 20px 0;
    display: flex;
    justify-content: left;
    
}

header .burger nav a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    font-size: 15px;
}

header .user {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 20%;
    color: black;
}

/* footer */
h4{
    padding-bottom: 1%;
}

footer{
    position: relative;
    margin-top:auto;
    width: 100%;
    background-color: #84E296;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-size: 20px;
}

footer  ul li{
    list-style: none;
    display: flex;
    justify-content: left;
    padding-bottom: 2%;
}

footer .redes ul{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer .categorias{
    display: flex;
    flex-direction: column;
}

footer .mapa{
    display: none;
}

footer .redes .sociales p{
    display: none;
}

footer i{
    font-size: 25px;
}

/* register*/
.register h1{
    text-align: center;
    font-weight: 300;
    margin-bottom: 2%;
}
.register a{
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: larger;
    
}
.register .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center ;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 3%;
}
.register .container label{
    margin-bottom: 5px;
    font-size:large;
    
}
.register .container input{
    width: 70%;
    padding: 20px;
    background-color: #BD93BD;
    border: none; 
    box-shadow: 5px 5px 19px 0px #187498ba;
    border-radius: 15px;
}
.register .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.register button{
    padding: 15px;
    background-color: #cef3d4;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 170px;
    display: flex;
    justify-content: center;
    margin: 0 5% 5% 0;
    box-shadow: 5px 5px 19px 0px #187498ba;
}

/* login */
.login .todo {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.login .todo .titulo{
    font-weight: 300;
}

.login .inicio-de-sesion {
    width: 75%;
}

.login .email h3 {
    font-size: large;
    margin-bottom: -2%;
}

.login .type-user {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 20px;
    width: 100%;
    box-shadow: 5px 5px 19px 0px #187498ba;
    margin-block: 3%;
    padding: 20px;
    border: none;
    background-color: #BD93BD;
    border-radius: 15px;
}
.login  small{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #A30015;
}

.login .pass h3 {
    font-size: large;
    margin-bottom: -2%;
}

.login .type-pass {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 20px;
    width: 100%;
    box-shadow: 5px 5px 19px 0px #187498ba;
    margin-block: 3%;
    padding: 20px;
    border: none;
    background-color: #BD93BD;
    border-radius: 15px;
}

.login .linkeados {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login .lost-pass {
    font-size: 75%;
}

.login .init {
    background-color: #CEF3D4;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 19px 0px #187498ba;
    margin-bottom: -1%;
    margin-top: 5%;
    color: black;
    border: none;

}

.login .create-user {
    font-size: 80%;
}

/* detalle */

.detalle-producto{
    margin-top: 5%;
 }
 .imgproduct{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
 }
 
 .detalle-producto .ordendes .descripcion {
    margin: 15px;
 }
 .detalle-producto .ordendes .descripcion h4 {
    margin-top: 15px;
    font-size: large;
    padding-bottom: 10px;
 }
 .detalle-producto .ordendes .descripcion .precio{
    font-size: 2em;
 }
 .detalle-producto .imgproduct img{
    width: 200px;
    height: 200px;
    box-shadow: -2px 4px 29px 0px rgb(156, 155, 156);
 }
 .detalle-producto .imgproduct img{
    width: 30vw;
    height: 30vw;
    margin: 1%;
 }
 .detalle-producto .detalle .compra{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 
.detalle-producto .detalle .compra h4{
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.detalle-producto .detalle .compra .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#42E2B8;
    height: 60px;
    width: 220px;
    margin: auto;
    border-radius:10%;
}
.detalle-producto .detalle .cantidad form input{
    width: 30px;
    height: 30px;
}
.detalle-producto .detalle .cantidad button{
    height: 30px;
    width: 30px;
    margin: 2%;
}
.detalle-producto .detalle .compra .confirmar{
    height: 30px;
    width: 200px;
    margin:20px auto;
    background-color:#42E2B8 ;
    border: none;
    border-radius:10%;
}

/* carrito */
.cart .producto-y-resumen {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.cart .todos-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cart .producto-y-resumen .producto .imagenes {
    width: 400px;
}

.cart .producto-y-resumen .producto img{
    width: 300px;
    height: 300px;
}

.cart .añadir-elementos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cart .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart .añadir-elementos .agregar {
    background-color: gray;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 3px;
    border-radius: 5px;
}

.cart .añadir-elementos input {
    width: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.cart .añadir-elementos .restar {
    background-color: gray;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 3px;
    border-radius: 5px;
}

.cart section article h3 {
    width: min-content;
    font-size: 1rem;
    margin-bottom: 10px;
}

.cart section .prod-rec h3 {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
}

.cart section .producto {
    background-color: white;
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cart section article .imagenes img {
    width: 33%;
}

.cart section article .imagenes {
    width: 30%;
}

.cart .producto .borrar{
   margin-bottom: auto;
}
.cart .producto .precio-descuento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume {
    flex: 25%;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .6s ease;
    width: 90%;
}

.resume:hover {
    border: none;
    transform: scale(1.01);
}

.resume hr {
    margin-bottom: 25px;
}

.resume p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.resume .button {
    background-color: #187498ba;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}

.resume .button:hover {
    background-color: #cef3d4;
}

.resume a {
    background-color: #cef3d4;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}

.resume i {
    margin-right: 15px;
}

.resume a:hover {
    background-color: var(--verde);
}

/* index */
.index .vista-productos .grid .card{
    border-color: #187498ba;
    height: 95%;
    margin: 1%;
    width: 80vw;
    border: 1px solid ;
    box-shadow: -2px 4px 29px 0px rgb(156, 155, 156);
}
.index .g-col-6 .g-col-md-4{
    box-shadow: -2px 4px 29px 0px rgb(156, 155, 156);
}
.index .vista-productos .grid .card button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#42E2B8;
    height: 55px;
    width: 220px;
    margin: auto;
    border-radius:10%;
    margin-bottom: 7px;
}
.index  .categoria{
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
    background-color: #dfe0ffa8;

}
.index .categoria a img{
    width: 23vw;
    height: 23vw;
    border-radius: 100%;
}

/*queries header  */
@media (min-width:720px){
    header{
        position: relative;
        margin-bottom: 20px;
        background-color:#84E296;
    }

    header .logo{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }    
    
    header .logo img{
        position: relative;
        width: 80px;
        height: 80px;
    }

    header .burger label{
        display: none;
    }

    header .burger nav{
        width: 100%;
        display: block;
        text-align: center;
    }

    header nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 

    header .logo{
        width: 20%;
        order: 0;
    }   
    header .user {
        width: 10%;
        order: 2;
        color: black;
    } 
    header .burger{
         width: 60%;
         order: 1;
         
     }
     header .burger nav ul{
        padding-bottom: 0;
        background-color: none;
        width: 100%;
    }
    header .top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        position: relative;
        right: 0;
    }
} 

/* medias queries login */
@media (max-width: 768px) {
    .login .inicio-de-sesion {
        width: 75%;
    }

    .login .init {
        width: 60%;
        margin-inline: 20%;
    }
    .cart .producto-y-resumen {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

/* medias queries footer  */
@media(min-width: 1024px){
    footer{
        position: relative;
        margin-top: auto;
        width: 100%;
        background-color: #84E296;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer  ul li{
        list-style: none;
        display: flex;
        justify-content: left;
        padding-bottom: 15%;
    }
    
    footer p{
        font-size: 20px;
        margin: 0;
        display:flex;
        flex-direction: column;
    }
    footer ul a{
        text-decoration: none;
    }
    
    footer .redes ul{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    footer .categorias{
        height:100%
    }
    
    footer .redes nav{
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    footer ul .sociales{
        margin: 0;
        padding: 0;
        width: 50%;
        
    }

    footer ul .sociales i{
        margin: 0;
    }
    
    footer h4{
        padding-bottom: 10%;
    }

    footer .mapa{
        display:flex;
        flex-direction: column;
    }

    footer .mapa .ubi{
        width: 80%;
        height: 80%;
    }

    footer .mapa h4{
        display:flex;
        flex-direction: column;
    }

    footer .redes .sociales{
        display: flex; 
    }

    footer .columna{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }

    .login .inicio-de-sesion {
        width: 50%;
    }

    .login .init {
        width: 50%;
        margin-inline: 25%;
    }

    .login small{
        color: #A30015;
    }
}